---
import type { HTMLAttributes } from "astro/types";
import Socials from "./Socials.astro";

const currentYear = new Date().getFullYear();

type Props = {
  noMarginTop?: boolean;
} & HTMLAttributes<"footer">;

const { noMarginTop = false, class: className, ...attrs } = Astro.props;
---

<footer
  class:list={["app-layout", { "mt-auto": !noMarginTop }, className]}
  {...attrs}
>
  <div
    class:list={[
      "py-6 sm:py-4",
      "border-t border-border",
      "flex flex-col items-center justify-between sm:flex-row-reverse",
    ]}
  >
    <Socials />
    <div
      class="my-2 flex flex-col items-center gap-1 text-center text-sm opacity-70 sm:items-start sm:text-left"
    >
      <span
        >Copyright &#169; {currentYear} Amelia Boone. All rights reserved.</span
      >
      <span>
        Website by <a
          href="https://nightowlstudio.us"
          target="_blank"
          rel="noopener noreferrer"
          class="underline underline-offset-2 hover:text-accent"
          >Night Owl Studio LLC</a
        >, Spokane, WA
      </span>
    </div>
  </div>
</footer>
