---
import type { MarkdownLayoutProps } from "astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Breadcrumb from "@/components/Breadcrumb.astro";
import Layout from "./Layout.astro";
import { SITE } from "@/config";

type Props = MarkdownLayoutProps<{ title: string }>;

const { frontmatter } = Astro.props;
---

<Layout title={`${frontmatter.title} | ${SITE.title}`}>
  <Header />
  <Breadcrumb />
  <main id="main-content" class="app-layout">
    <section id="about" class="mb-28 max-w-app">
      <div class="mb-8 flex flex-col gap-6 sm:flex-row sm:items-start">
        <img
          src="/amelia-profile.jpg"
          alt="Amelia Boone"
          class="h-32 w-32 flex-none rounded-full object-cover shadow-sm ring-2 ring-accent/20 sm:h-40 sm:w-40"
        />
        <div class="app-prose prose-img:border-0">
          <h1 class="text-2xl tracking-wider sm:text-3xl">
            {frontmatter.title}
          </h1>
          <slot />
        </div>
      </div>
    </section>
  </main>
  <Footer />
</Layout>
